* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Optima, Helvetica, sans-serif;
}

.header img {
    float: left;
    width: auto;
    height: 80px;
}

.header {
    padding-bottom: 30px;
}

.headingName {
    color: maroon;
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 46px;
}

a {
    text-decoration: none;
}

.nav-right {
    float: right;
    padding-right: 10px;
    top: 100px;
    align-items: center;
}


.nav-items {
    color: black;
    margin-right: 20px;
    font-weight: 1000;
    font-size: 20px;
}
.nav-items:hover {
    color: darkgrey;
}
.nav-items:active {
    color: lightgrey;
}
#selected {
    color: lightgrey;
}

.active {
    background: red;
}

.hr-top { 
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1.5px;
    border-style: solid;
}

.hr-bottom { 
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1.5px;
    border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 1%;
    width: 100%;
}

.officer-link {
    display: block;
    text-align: center;
    margin: 50px;
    font-size: x-large;
    margin-top: 100px;
}
.meet-officers {
    background: #E6E6E3;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.meet-officers:hover {
    background: maroon;
    color: white;
}


.bottom-separator {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-style: solid;
    color: maroon;
}

.roster-bottom-line {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-style: solid;
    color: maroon;
}

#social-media{
    text-align:center;
    margin-bottom: 20px;
}
#social-media img {
    height: auto;
    width: 3%;
    margin-left: 15px;
}

#copyright-container {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#copyright-container img {
    height: auto;
    width: 5%;
}

#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.roster-member {
    border: 2px solid lightgrey;
    border-radius: 20px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.roster-member img {
    height: 60px;
    width: auto;
    float: left;
}

.roster-left-text {
    position: relative;
    left: 20px;
}

.mission-statement {
    margin: 10px;
    text-align:  center;
    padding: 10px;
    background: #E6E6E3;
    border-radius: 10px;
}
.mission-header {
    font-weight: 1000;
    font-size: xx-large;
    text-decoration: underline;
}
.mission-text {
    margin: 20px;
    font-size: x-large;
}


.desc {
    margin: 50px;
    font-size: large;
}
#desc-1 {
    font-weight: 600;
}


.important-info {
    margin: 50px;
    background: rgba(128, 0, 0, 0.9);
    border-radius: 10px;
    padding: 10px;
}
.important-info-text {
    padding-bottom: 10px;
}
.important-info-text h3 {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: x-large;
}
.important-info-text p {
    color: white;
    padding: 10px;
    font-size: large;
}
.important-info-text a {
    color: gold;
}
.important-info-text a:hover {
    color: #E6E6E3;
}




/*
schedule page styling
*/


.scorecard-numbers {
    vertical-align: middle; 
    font-size: 250%; 
    margin: 15px;  
}

.scorecard {
    height: 250px;
    border: 2px solid maroon;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 30px;
    background: maroon;
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    padding-top: 75px;
}

.player-stats {
    text-align: center;
    margin: 20px;
}
.player-stats a {
    color: maroon;
    font-size: x-large;
    text-decoration: underline;
}
.player-stats a:hover {
    color: gold;
}



/* lighter background */
.schedule-block-1 {
    border: 2px solid #E6E6E3;
    border-radius: 10px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    background: #E6E6E3;
}

.schedule-block-1 img {
    height: 70px;
    width: auto;
    float: left;
    padding-top: 10px;
}

.schedule-left-text {
    position: relative;
    left: 20px;
}

/* lighter background */
.schedule-left-text .sched-right-location {
    color: black;
}
/* darker background */
.schedule-left-text .sched-right-location-2 {
    color: black;
}

/* darker background */
.schedule-block-2 {
    border: 2px solid #BFBFBD;
    border-radius: 10px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    background: #BFBFBD;
}

.schedule-block-2 img {
    height: 70px;
    width: auto;
    float: left;
    padding-top: 10px;
}


/*
    Contact page styling
*/

.contact-card {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid #E6E6E3;
    border-radius: 20px;
    background: #E6E6E3;
    width: 150%;
}
.contact-card img {
    height: auto;
    width: 70px;
    float: left;
    padding-bottom: 20px;
}
.contact-rank {
    position: relative;
    left: 20px;
    padding-top: 15px;
}
.contact-name {
    position: relative;
    left: 20px;
}
.contact-email {
    position: relative;
    left: 20px;
    color: maroon;
}
.contact-email:hover {
    color: gold;
}



.email {
    margin-left: 40px;
}
.email a {
    text-decoration: none;
    color: maroon;
}
.email a:hover {
    color: gold;
}

.form {
    margin-left: 40px;
    margin-top: 30px;
}
.form a {
    color: maroon;
}
.form a:hover {
    color: gold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.pres-vp {
    display: inline-block;
    margin-bottom: 50px;
}
.email-form {
    display: inline-block;
    margin: 10px;

}


/*
    About page styling
*/
.about-header {
    width: 100%;
    border-top: 2px solid #E6E6E3;
    border-bottom: 2px solid #E6E6E3;
    background: #E6E6E3;
    color: maroon;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}
.about-bullet-list {
    list-style-type: disc;
    margin: 30px;
    margin-left: 50px;
    padding: 10px;
    font-size: large;
}
.about-bullet-list li {
    padding: 10px;
}
.facility-location {
    margin: 10px;
    text-decoration: underline;
    font-size: x-large;
}
.facility-p {
    margin: 30px;
    padding: 5px;
    font-size: large;
}


.ridder-img {
    width: 100%;
    height: auto;
}
.recwell-img {
    width: 100%;
    height: auto;
}

.ACHA-link {
    color: maroon;
}
.ACHA-link:hover {
    color: lightgrey;
}


/*
    Officers page styling
*/

.contact-header {
    text-align: center;
    margin: 20px;
}
.officer-contact-link {
    font-size: larger; 
    padding: 4px;
    color: maroon;
}
.officer-contact-link:hover {
    background: #E6E6E3;
    border-radius: 15px;
}
.officer-header {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
    background: maroon;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.officer-card {
    padding: 10px;
}
.officer-card img {
    width: 100px;
    height: auto;
    float: left;
    margin-left: 31%;
    padding: 10px;
    margin-right: 20px;

}
.officer-role {
    padding: 10px;
    position: relative;
}
.officer-name {
    font-size: x-large;
    font-weight: 400;
    padding: 10px;
    position: relative;
}





/*
carousel styling
*/

/* .mySlides {
    width: 25%;
    margin: auto;
    display: block;
    padding: 20px;
} */

.mySlides {
    position:absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w3-content {
    background: maroon;
    margin: 5px;
    border-radius: 10px;
    height: 200px;
    justify-content: center;

    position: relative;
    overflow: hidden;
}



#carousel-button-left {
    background-color: white;
    border: none;
    color: maroon;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 10px;
    float: left;
}
#carousel-button-left:hover {
    background: gold;
}

#carousel-button-right {
    background-color: white;
    border: none;
    color: maroon;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 10px;
    float: right;

}
#carousel-button-right:hover {
    background: gold;
}




#slider {
    overflow: hidden;
    margin-bottom: 50px;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


.r-1 {
    position: relative;
    left: 20px;
    color:maroon; 
    padding-top:10px
}
.r-2 {
    position: relative;
    left: 20px;
    color:maroon; 
}
.r-s1 {
    color: grey;
}
.r-s2 {
    color: black;
}
.r-s3 {
    color:grey; 
    float:right; 
    padding-right: 20px;
}
